<h1>Kitties#index</h1>
<p>Find me in app/views/kitties/index.html.erb</p>

<%# create a loop that goes throught the array and prints each kitty's name %>

<ul>
<% @kitties.each do |k| %>
  <li><%= link_to(k.name, "/kitties/#{k.id}") %></li>
<% end %>
</ul>